{% extends "layout.html" %}

{% block body %}
    <br><div class="jumbotron text-center">
    <h2>Hakkımızda</h2></div>
    <hr>
    <h3>Robotekno Koleji;</h3>
    <br>
    Herkese Merhaba. Biz Robotekno Koleji olarak akademik ve aynı zamanda mesleki eğitim veren bir kurumuz. "Gelecek Bu Okulda" diyerek öğrencilerimize  okulumuzda Anadolu-Meslek programı ile ders vermekteyiz. Akademik destekle birlikte hafta sonları Yazılım/Tasarım dersleri ve ETÜT programları ile daha iyi bir eğitim vermeye çalışıyoruz.
    <br>
    <hr>
    <span><a href = "https://roboteknokoleji.com/" style="color: #800;"><h5 class = "text-center">"GELECEK BU OKULDA"</h5></a></span>
{% endblock %}