{% extends "layout.html" %}

{% block body %}

<br><hr>
    <div class=" text-center">
        <h3>RoboTekno Bloğuna Hoşgeldiniz</h3>
        <br><h4>Bizimle İletişime Geçin</h4>
    </div><hr>
    <div class="jumbotron text-center" style="display: flex; align-items: center; justify-content: space-between; background: #ecd3d373; margin-top: auto;">
        <span><h5>İnstagram:</h5><hr><a href="https://www.instagram.com/roboteknokoleji/" style="color: #000;">Özel RoboTekno Koleji</a></span>
        <span><h5>YouTube:</h5><hr><a href="https://www.youtube.com/channel/UCoBuSY4sCNo3eb7Cs1ScuVg" style="color: #000;">RoboTekno Koleji</a></span>
        <span><h4>E-Mail:</h4><hr><a href="https://mail.google.com/mail/u/0/#inbox?compose=jrjtXJTXqKlwrXCbJVkDXdpRTFRZKxCvpZLKMFpwGsVNskxlbSjRKLqLwkNCrsdRLCmbGdGW" style="color: #000;"><p>iletisim@roboteknokoleji.com</p></a></span>
        <span><h5>Facebook:</h5><hr><a href="https://www.facebook.com/people/RoboTekno-Koleji/100068559494372/" style="color: #000;">RoboTekno Koleji</a></span>
        <span><h5>Konum:</h5><hr><a href="https://www.google.com/maps/place/RoboTekno+Koleji/@41.0201729,39.5723713,17z/data=!3m1!4b1!4m5!3m4!1s0x4064154dba9d6b4b:0xe9ceee0abbe33638!8m2!3d41.0201729!4d39.57456" style="color:#000;">RoboTekno Koleji</a></span>
    </div>
    <hr>
    <p class="text-center">Burada bulunan bağlantılardan bizimle istediğiniz zaman iletişime geçebilirsiniz. </p><hr>

{% endblock %}